page-home {
.xross{ position: absolute;
  top: 20px;
  right: 30px;
  font-size: 26px;
  color:white;
}
.bell{ position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  color: white;
}
.name{
  position: absolute;
  top: 20px;
  left: 80px;
  font-size: 20px;
  letter-spacing:1px;
  font-family:Arial;
  font-style:bold;
}
.avatar{
  fill:#0099db;
  position: relative;
  top: -15px;
  left: 0px;
 
}
.ava-size{
  width: 48px !important; 
height : 48px !important;}

}


